div > img{
    width: 100%;
    height: 100%;
}

@media print{
    @page {
        size: landscape;
    }
    .page-break{
        page-break-before: always;
    }

    body * {
        visibility: hidden;
    }

}
